body{
    margin: 0;
    padding: 0;

}
.wrapper{
    width: 900px;
    min-height: 500px;
    background: red;
    margin: 0 auto;


}

.wrapper header{
    width: auto;
    min-height: 100px;
    background: green;
    position: relative;
}

.wrapper header .logo{
    width: 100px;
    height: 100px;
    background: yellow;
    float: left;

}

.wrapper header .slogan{
    width: 800px;
    height: 100px;
    background: blue;
    float: left;

}

.wrapper header .menubar{
    width: auto;
    background: purple;
    clear: both;

}

.wrapper header .menubar ul{
    margin: 0;
    padding:0;
    list-style-type: none;
}

.wrapper header .menubar ul li{
    display: inline-block;
}

.wrapper header .menubar ul li a{
    display: block;
    padding: 7.5px 15px;
    text-decoration: none;
    color: cyan;
}

.wrapper header .menubar ul li a:hover{
    background: grey;
    color: #ffffff;
}

.wrapper .topmenubar{
    width: 400px;
    height: 40px;
    background: yellow;
    position: absolute;
    top: 0;
    right: 0;
}

.wrapper .container{
    width: auto;
    min-height: 500px;
    background: cyan;

}

.wrapper .container .sidebar{
    width: 150px;
    height: 500px;
    background: violet;
    float: left;
}

.wrapper .container .content{
    width: 750px;
    height: 500px;
    background: grey;
    float: left;
}

.wrapper footer{
    width: auto;
    height: 50px;
    background: black;
}